fieldset{
	width: 300px;
	background-color:#F5F5F5;
}
#form 
{
   vertical-align: left;
}
#total , #adjacent , #single{
	color:#ff0000;
}
#holder{   
height:400px;   
width:550px;
background-color:#F5F5F5;
border:1px solid #A4A4A4;
margin-left:10px;  
}
#place {

position:relative;
top: 0px;
left:60px;
margin:7px;
}
#place a,#bronze a,#silver a{
font-size:0.6em;
}
#place li,#bronze li,#silver li
{
 list-style: none outside none;
 position: absolute;  
}   
#place li:hover,#bronze li:hover,#silver li:hover
{
background-color:yellow;     
}
#place .seat{
background:url("not_booked.png") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;  
}
#place .selectedSeat
{
background-image:url("already_booked.png");         
}
#place .selectingSeat
{
background-image:url("booked.png");       
}

#seatDescription li{
verticle-align:middle;   
list-style: none outside none;
padding-left:35px;
height:35px;
float:left;
}
#bronze {

position:relative;
top: 60px;
left:60px;
margin:7px;
}
#bronze .seatx{
background:url("not_booked.png") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;  
}
#bronze .selectedSeatx
{
background-image:url("already_booked.png");         
}
#bronze .selectingSeatx
{
background-image:url("booked.png");       
}

#silver {

position:relative;
top: 110px;
left:60px;
margin:7px;
}

#silver .seats{
background:url("not_booked.png") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;  
}
#silver .selectedSeats
{
background-image:url("already_booked.png");         
}
#silver .selectingSeats
{
background-image:url("booked.png");       
}

